
li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

#color-name {
    text-align: center;
    font-size: 50px;
}

.dropbtn {
    color: black;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  #button-1 {
    background-color: grey;
    border-radius: 10px;
    border: 2px solid black;
  }

  #button-2 {
    background-color: red;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  #button-3 {
    background-color: orange;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  #button-4 {
    background-color: purple;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  #button-5 {
    background-color: green;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {
    display: block;
}
  